.authentication-container{
    display: flex;
    width: 900px;
    justify-content: space-between;
    margin:30px auto;
    @media screen and (max-width: 800px) {
        display: block;
        width: 900px;
        margin-left: 0px;
        margin-right: 5000px;
        padding-right: 3000%;
        margin:30px 0;
        justify-content: space-between;
        
      }
}
